.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-submit {
  background-color: black;
  color: white;
  height: 30px;
  width: 60px;
  font-size: 13px;
  margin-top: 20px;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
}

.button-submit:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.button-submit:active {
  transform: scale(1.1);
}

